[submodule "clawhermes-weixin"]
	path = clawhermes-weixin
	url = https://github.com/brekov/clawhermes-weixin.git
[submodule "clawhermes-lark"]
	path = clawhermes-lark
	url = https://github.com/brekov/clawhermes-lark.git
[submodule "clawhermes-qq"]
	path = clawhermes-qq
	url = https://github.com/brekov/clawhermes-qq.git
